<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue2.js"></script>
  </head>
  <body>
    <div id="app">
      <!--
        v-for指令可以用来遍历数组/对象
        它可以根据data中数据的更新动态刷新视图 (包括引用地址里, 只要数据发送更新, 也会刷新视图)
        v-for也是指令, 拥有指令的特性
        1. 遍历数组
          1.1 使用方式1： v-for="item in arr" item是一个参数，表示数组中的每一项(每个元素)，arr也是一个参数，表示你要遍历的数组
          1.2 使用方式2： v-for="(item, index) in arr" index表示数组项的索引 ⭐ （推荐)

        2. 遍历对象
          2.1 使用方式：v-for="value in obj" value 表示对象的属性的值 obj就是需要遍历的对象
          2.2 使用方式：v-for="(value, key, index) in obj" key表示对象的键 index表示这个对象属性的索引，类似上面的数组的index
          // 注意: 虽然对象是无序的, 但是遍历对象的时候, 遍历属性的顺序和对象创建时的顺序一致


        注意：使用下面两种方式不能够动态刷新视图
          1. 使用数组的length属性去更改数组的时候不行, 比如arr.length = 0;
          2. 使用索引的方式去更改数组也不行, 比如 arr[0] = 3
        解决方式:
          1. Vue.set(arr, index, value)方法 arr:表示需要设置的数组，index表示数组索引，value表示该索引项的新的值⭐，例如：Vue.set(vm.list, 0, {id: 111, name: 'jack'})
          2. 直接调用数组的splice()方法 (推荐)

        v-for的作用: 遍历生成v-for所在标签及标签的内容, 并渲染(输出到)到页面上 (遍历生成的标签标签属性上是没有v-for属性的)
        注意: v-for="(item, index) in arr"
        在v-for标签及其内部如何访问当前遍历的项及索引:
              1. 若是在标签属性上访问遍历的每一项item (当前正在遍历的项item), 或索引index, 需要将标签属性通过v-bind绑定为指令后, 在指令的属性值中任意地方就可直接通过item拿到当前遍历的项, 或 当前遍历的索引index 遍历对象也一样
              2. 若是在文本部分访问遍历的每一项item (当前正在遍历的项item) , 或索引index, 需要使用插值表达式, 在插值表达式 遍历对象也一样
        注意： 使用v-for渲染数据的时候，★ 一定要记得将key标签属性加上去, 并且要保证这个key的值在当前这个v-for中是唯一并且不重复的 ,它的作用就是用来唯一标识数据的每一项，提高渲染性能 (在遍历生成的标签的标签属性上看不到key属性)⭐
              key唯一, 是指的在各自v-for中, key值要唯一, 而多个v-for之间, 他们的key是可以重复的
              比如A: v-for, key 为 1, 2,3   B: v-for, key 为 1, 2, 3, 4, 5, 则A和B这2个v-for的key重复是可以允许的
              若 A: v-for, key 为 1, 1, 2 , 则A: v-for 中的key值重复了, 是不允许的

        注意: 如果在v-for中给标签绑定事件, 若事件函数传参, 则参数会一一区分开来, 在每次遍历的过程中就完成了事件的绑定(此时传递的实参已经一一区分确定下来了), 在绑定事件的那一刻(代码执行的那一刻),
              要传的实参值已经确定下来了, 后续若视图更新渲染时, 若传参的值发生改变, 则对应的传参也会一一更新渲染的
              如果在v-for中给表单进行了双向绑定, 则双向绑定会一一区分开来, 在每次遍历的过程中就完成了当前生成的表单元素与当前数组中遍历的项对应的变量(或对象中的某个属性)的双向绑定 .
              v-for中, 所有的操作, 绑定, 渲染等, 都会被一一区分开来, 一一对应
      -->
      <h1>v-for="item in arr"</h1>
      <ul>
        <li v-for="item in list" :key="item.id">{{item.name}}</li>
      </ul>
      <h1>v-for="(item, index) in arr"</h1>
      <ul>
        <li v-for="(item, index) in list" :key="index">{{item.name}}它的索引是：{{index}}</li>
      </ul>



      <h1>v-for="value in obj"</h1>
      <ul>
        <li v-for="value in boss" :key="value">{{value}}</li>
      </ul>
      <h1>v-for="(value, key, index) in obj"</h1>
      <ul>
        <li v-for="(value, key, index) in boss" :key="index">{{key}}:{{value}}-------{{index}}</li>
      </ul>
    </div>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          list: [
            {id: 11, name: 'jack'},
            {id: 12, name: 'rose'},
            {id: 13, name: 'neil'}
          ],
          boss: {name: 'mayun', age: 50}
        }
      })
    </script>
  </body>
</html>
