<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue2.js"></script>
  </head>
  <body>
    <div id="app">
      <!--

        v-if和v-show都能够用来控制元素的显示与隐藏
        语法: v-if="判断条件", v-if也是指令, 拥有指令的特性
          v-if: 会解析执行v-if中的判断条件 (""中的内容), 若判断条件的最终执行得到的结果隐式转为布尔值为true, 则显示v-if 所在标签及所在标签所有的内容; 否则, v-if所在标签及其标签内的所有内容, 不会显示, ★ 且不会存在dom结构中
                条件可以具体的值, 也可以是变量(变量取变量的值), 表达式或函数的调用, 只根据条件中最后的值, 若最后的值不是布尔类型, 则会自动隐式转化为布尔类型, 根据隐式转换后的结果, 进行判断
        语法: v-show="判断条件", v-if也是指令, 拥有指令的特性
        v-show: 会解析执行v-show中的判断条件, 若判断条件的最终执行得到的结果隐式转为布尔值为true, 则显示v-show 所在标签及标签的内容; 否则, v-show所在标签及其内容, 会被隐藏, ★ 通过display:none, 但是存在在dom结构中
                条件可以具体的值, 也可以是变量(变量取变量的值), 表达式或函数的调用, 只根据条件中最后的值, 若最后的值不是布尔类型, 则会自动隐式转化为布尔类型, 根据隐式转换后的结果, 进行判断

        v-if 和 v-show 使用场景的区别：
          1. 如果页面中涉及到异步数据渲染的话，就用v-if
          2. 如果页面中涉及到大量dom元素的显示与隐藏的话，用v-show

        v-if, v-show, 就算隐藏了, 但是也在vue的管理范围内, vue特性也生效, 只要数据改变, 也会对v-if, v-show的内容进行自动更新渲染的. (数据驱动)
       -->
      <h1>v-if</h1>
      <p v-if="age>=18">已成年<span>哈哈</s'pan></p>
      <p v-if="age<18">未成年<span>呵呵</span></p>

      <h1>v-show</h1>
      <p v-show="age>=18">已成年</p>
      <p v-show="age<18">未成年</p>

      <h1>异步数据</h1>
      <p v-if="isVisible">异步数据回来了，我就显示</p>
      <button @click="getData">点击显示</button>

    </div>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          age: 17,
          isVisible: false
        },
        methods: {
          getData() {
            setTimeout(() => {
              this.isVisible = true
            }, 1000);
          }
        }
      })
    </script>
  </body>
</html>
