<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue2.js"></script>
  </head>
  <body>
    <div id="app">

      <h1>异步数据</h1>
      <p v-if="isVisible">异步数据回来了，我就显示</p>
      <p v-else>数据还没有回来</p>
      <button @click="getData">点击显示</button>

      <h1>v-else-if</h1>
      <p v-if="age<18">青少年</p>
      <!-- v-if 和 v-else-if, v-else 配合使用的话, 他们所在的标签必须是兄弟关系且要求紧挨着, 之间不能有其他标签插入 -->
      <!--<p>不能有其他标签插入</p>-->
      <p v-else-if="age>=18 && age <30">成年</p>
      <p v-else-if="age>=30 && age < 50">中年</p>
      <p v-else>老年</p>
    </div>

    <!--
      v-if 与 v-else-if, v-else, 配合使用的话, 要求他们所在的标签是兄弟关系, 并且兄弟间紧挨着 (各自内部是可以有内容的) , 之间不能有其他兄弟关系插入 
      与if一样, 从上往下判断, 若满足条件就渲染, 并且停止判断, 跳出if-else-if语句, 后续的v-else-if 不会被渲染, 即只有第一个满足条件的标签, 会被渲染
    -->
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          age: 20,
          isVisible: false
        },
        methods: {
          getData() {
            setTimeout(() => {
              this.isVisible = true
            }, 1000);
          }
        }
      })
    </script>
  </body>
</html>
