<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>这是首页</h1>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero labore porro ea, cum ipsam id enim vel distinctio. Maxime eos iure tempore maiores accusantium, totam mollitia dolores dolorum eum architecto?

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia incidunt ex quas quidem hic eum quae veniam aliquid. Neque eius expedita rem nam, mollitia iure culpa non dolore beatae accusamus.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur libero commodi praesentium reprehenderit eaque nemo possimus quasi dicta dolores voluptates sapiente perspiciatis, odio laudantium eligendi expedita placeat optio ullam assumenda?
</body>
</html>