<!--
 * @Author: Ling Hui Shi
 * @Date: 2020-03-08 12:34:28
 * @LastEditors: Ling Hui Shi
 * @LastEditTime: 2020-04-17 00:45:08
 * @Description: 
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue2.js"></script>
  </head>
  <body>
    <div id="app">
        <input type="text" v-model="firstName">
        <input type="text" v-model="lastName">
        <h1>全名：{{fullName}}</h1>
        <h1>全名：{{fullName}}</h1>
        <h1>全名：{{fullName}}</h1>
        <h1>全名：{{fulName()}}</h1>
    </div>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          firstName: '',
          lastName: ''
        },
        // computed计算属性，它表示根据已有属性，计算得到一个新的属性
        computed: {
          // 在computed里面写一个函数，这个函数很特殊，它的函数名，将来可以作为一个属性来使用
          // 计算属性是依赖于缓存的，当页面中调用同一个计算属性多次的时候，后面的计算属性的值，会直接从第一次得到的结果中去取，所以说，它的性能比较高，推荐使用计算属性⭐
          // 在页面中用函数的调用也可以达到计算属性的作用, 但是函数的调用没有缓存机制, 而计算属性有缓存机制, 所以计算属性的性能比函数的调用好!
            fullName() {
            console.log('computed')
                // 必须要return  会将具体的返回值计算出来后, 作为该计算属性的值
            return this.firstName + this.lastName + name
          }
        },
        methods: {
          fulName () {
            console.log('fn')
            return this.firstName + this.lastName + name
          }
        }
        // 计算属性说明:
          //   computed计算属性，它表示根据已有属性，计算得到一个新的属性, 用来解决插值表达式中要展示逻辑复杂的数据时的问题
          // 1. computed, 是一个对象, 里面都是存储着函数 (属性都是函数属性), 且都是函数的声明, 不会调用, 推荐使用es6对象中函数属性简写形式
          // 2. computed中的定义的每个函数属性, 函数中必须要return一个值 (不return默认return undefined), (函数的返回值可以是表达式, 函数调用, 变量, 具体的值) 会将具体的返回值计算出来后, 作为该计算属性的值. computed中可以定义多个函数, 每一个函数都是一个计算属性
          // 3. computed中的定义的函数属性的函数体中, this指向vue实例, 则可以访问到data中的变量和methods中的方法以及其他计算属性了
          // 4. 在vue实例视图管理范围内, 插值表达式或vue指令中, 可以直接通过computed中的函数名 (不需要调用, 当作变量来用), 来访问获取和使用对应computed计算属性中对应函数的返回值
          // 5. 在vue实例对象中, 会拷贝computed中的所有计算属性作为自身vue实例属性, 属性名为computed中的函数名, 属性值为computed中对应函数的返回值
          //    所有可以访问vue实例的地方, 可以直接通过vue实例.computed计算属性中对应的函数名 (不需要调用, 当作变量来用) 来获取对应computed计算属性中对应函数的返回值
          // ★ 计算属性不管是在插值表达式或指令中, 还是vue实例中, ★ 都作为一个属性来使用
          // 6. 计算属性的每个函数中, 会自动监听该函数体中直接或间接使用到的所有数据(所依赖的所有数据, 若是引用类型的, 则只要引用地址里的数据发送改变, 就会被监听到, 与引用地址是否改变无关), 只要函数体中使用到的(依赖的)数据发生改变, (只要数据发生改变会直接或间接影响到计算属性最终返回结果的)
          //    如使用到data中的数据 (vue实例拷贝的data中的数据), 然后data中的对应数据改变了 (vue实例拷贝的data中的数据), 则该计算属性会自动重新计算, 并且return重新计算之后的值, 并且★自动★更新渲染视图中所有直接或间接使用到该计算属性的地方, 自动更新渲染视图. 比如vue实例拷贝的计算属性会更新, 比如视图中直接或间接有用到该计算属性的, 就会自动更新dom树, 自动重新编译渲染视图
          //    vue管理的视图中所有直接或间接使用到该计算属性的地方, 比如插值表达式或vue指令, 或vue实例对象中拷贝的计算属性, 都会自动更新 和 自动更新渲染到页面!

          // 如果计算属性函数中, 有调用其他函数取得返回值的, 计算属性也会监听调用其他函数的返回值是否发生改变, 如果改变数据导致调用其他函数的返回值发生改变, 导致计算属性最终返回值发生改变, 则计算属性也会自动更新, 返回最新的数据到所有直接或间接使用到该计算属性的地方并自动重新渲染视图
          // 只要数据改变直接或间接影响到计算属性的返回值的, 则计算属性都会重新计算, 然会返回最新的数据到所有直接或间接使用到该计算属性的地方并自动重新渲染视图

          // 7. 在computed计算属性的函数中, ★ 不能使用异步函数, 如setTimeout, 会导致计算属性无效, 为了解决无法使用异步函数的问题, 出现了watch
          // 8. 计算属性一般只用于计算简单的数据并展示到视图中, 不推荐作为逻辑代码处理, 可以做一些简单的逻辑处理
          // 9. 计算属性不作为data中的变量, 不存储在data中
          // 10. 计算属性的函数, 统一没有入参

          // 注意: 在视图中可以写一些逻辑性代码, 但尽量不写逻辑性代码, 能用计算属性代替的就用计算属性代替

      })
    </script>
  </body>
</html>
