<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue2.js"></script>
  </head>
  <body>
    <div id="app">
        <input type="text" v-model="firstName">
        <input type="text" v-model="lastName">
        <h1>全名：{{fullName}}</h1>
    </div>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          firstName: '',
          lastName: '',
          fullName: ''
        },
        // watch监听器会监听data中数据的变化，只要一变化，就能够执行相应的逻辑
        // 监听的数据名放到这里面作为函数名，这个函数里面有两个参数，一个是新值，一个是旧值
        watch: {
          firstName(newVal, oldVal) {
            console.log(newVal, oldVal)
            // 要用一个变量，将得到的数据保存起来
            this.fullName = newVal + this.lastName
          },
          lastName(newVal, oldVal) {
            setTimeout(() => {
              this.fullName = this.firstName + newVal
            }, 200);
          }
        }
        // 对比computed而言，这个computed性能更好，所以能用computed实现就用computed实现
        // 在涉及到异步数据操作的时候，就只能用watch去实现了。

       // watch说明：
       // 1. watch是一个对象, 对象中的属性是函数或对象(深度监听), 可以存储多个函数, (只是声明, 不会调用) 用来监听data中的数据变化
       // 2. watch中函数名为对应data中要监听变量的变量名, 函数自带2个参数, 分别是变化后的新值 和 变化前的旧值,
       // 3. 每当监听的data中变量的值发生变化, 就会调用对应的watch中的监听函数, 执行对应的函数体
       // 4. watch中的函数的函数体中, this都是指向vue实例, 所以可以获取和操作data中的变量, methods中的函数, 以及computed中的计算属性..
       // 5. 计算属性computed比watch性能更好, 所以能使用计算属性的就使用计算属性,
       // 6. 在涉及到异步操作时, 只能使用watch; 在涉及到逻辑处理的地方, 也请使用watch .
      })
    </script>
  </body>
</html>
