.container {
    width: 600px;
}

table {
    margin-top: 30px;
    border: 1px solid blue;
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid blue;
    height: 50px;
    line-height: 50px;
    text-align: center;
}